<div id="content">
    <div id="user-list-page">
        <h3>User List</h3>
        <hr>
        <div>
            <label class="font-italic">Filter</label>
            <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input checkbox" onchange='get_user(this);' type="checkbox" name="user"
                    id="admin" value="admin" checked>
                <label class="form-check-label" for="chinese">Admin</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input checkbox" onchange='get_user(this);' type="checkbox" name="user"
                    id="merchant" value="merchant" checked>
                <label class="form-check-label" for="englishLang">Merchant</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input checkbox" onchange='get_user(this);' type="checkbox" name="user"
                    id="user" value="user" checked>
                <label class="form-check-label" for="malay">User</label>
            </div>
        </div>

        <div>
            <table class="table_list">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Type</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {{#if user_list}}
                    {{#each user_list}}
                    <tr>
                        <td>{{replaceEmptyString email}}</td>
                        <td>{{replaceEmptyString type}}</td>
                        <td>{{replaceEmptyString first_name}}</td>
                        <td>{{replaceEmptyString last_name}}</td>
                    </tr>
                    {{/each}}
                    {{else}}
                    <h3>No User Found</h3>
                    {{/if}}

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var checkboxes = document.getElementsByClassName("checkbox");

    function get_user() {

        var checkboxes = document.getElementsByClassName("checkbox");

        var type = [];
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type == "checkbox") {
                //console.log("checkboxes[i].checked");
                //console.log(checkboxes[i].checked);
                if (checkboxes[i].checked) {
                    console.log(checkboxes[i].value);
                    type.push(checkboxes[i].value);
                }
            }
        }
        console.log(type);



        $.ajax({
            url: '/query/get_user_list',
            type: "get", //send it through get method
            data: {
                type: type,
            },

        }).done(function (data) {
            console.log(data);
        });
    }

</script>