<head>
    <script type="text/javascript" src="/css/style.css"></script>
    <script type="text/javascript" src="/js/typeahead.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input.typeahead').typeahead({
                name: 'countries',
                remote: 'http://localhost:5000/search?key=%QUERY',
                limit: 10
            });
        });
    </script>
    <style type="text/css">
        
    </style>
</head>
<section class="totalprice">
    {{#if info}}
    {{#each info}}
    <h1>Your bag total is S${{totalprice}}.</h1><span style="font-size: 17px; font-weight: 600;">Get free delivery on all
        products.</span>
    {{/each}}
    {{/if}}
    <div style="padding-top: 20px;"><button class="btn btn-primary border rounded" type="button"
            style="width: 18em;">Check Out</button></div>
    <div class="bs-example">
    <input type="text" name="typeahead" class="typeahead tt-query" autocomplete="off" spellcheck="false"
        placeholder="Search Cart">
    <a href="/cart/search" class="btn btn-primary">Search</a>
</div>
</section>
<section class="baginfo container col-lg-9">
    {{!-- {{#if recommended}}
        {{#each recommended}}
        <div>
            <h4>{{productName}}</h4>
        </div>
        {{/each}}
        {{/if}} --}}
    <a href="#frequentitems" class="btn btn-info" data-toggle="collapse">Frequently Bought Together</a>
    <div id="frequentitems" class="collapse">
        {{#if recommended}}
        {{#each recommended}}
        <div>
            <div class="col col-12 col-md-12 col-sm-6" style="text-align: center;">
                <img class="img-fluid" src="{{productImageURL}}" style="max-width: 30%; height: auto;">
                <h4>{{productName}}, {{productDescription}}</h4>
                <h4>${{productPrice}}</h4>
                <a href="/recommended/{{productID}}" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
        {{/each}}
        {{/if}}
        
</section>
<section class="baginfo container col-lg-9">
    {{#if products}}
    {{#each products}}
    <hr>
    <div class="row" style="padding-top: 30px;">
        <div class="col col-12 col-md-2" style="text-align: center;"><img class="img-fluid"
                src="{{productImageURL}}" style="max-width: 100%; height: auto;"></div>
        <div class="col" style="text-align: center;">
            <div class="row">
                <div class="col">
                    <div class="col-md-7 productname" style="max-height: 100%;float: left">
                        <h4 style="float: left;">{{productName}}</h4>
                    </div>
                    <div class="col-md-2 col-6" style="max-height: 100%;float: left;">
                        <a href='/cart/up/{{productID}}' class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                        <p class="quantity">{{quantity}}</p>
                        <a href='/cart/down/{{productID}}' class="btn btn-primary btn-sm"><i class="fa fa-minus"></i></a>
                    </div>
                    <div class="col-md-2 col-6" style="max-height: 100%; float: right; padding-right:0px">
                        <h4 style="float:right; padding-right: 20px;">${{productTotal}}</h4>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col">
                    <div class="col-md-2 col-6" style="max-height: 100%; float: right; padding-right:0px;"><a href="/cart/remove/{{productID}}"
                            class="btn btn-primary remove" style="float:right; padding-right: 20px;">Remove</a></div>
                </div>
            </div>
            <hr>
            <div class="row">
                {{!-- Spinner here --}}
                <div class="col">
                    {{!-- <div><span class="spinner-border spinner-border-sm" role="status"></span></div> --}}
                    <div style="float: left;">
                        <span style="font-size: 17px; font-weight: 600; padding-left:15px;">{{productDescription}}</span>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div style="float: left;"><span style="font-size: 17px; font-weight: 600; padding-left:15px;">Find
                            out how soon you can get this item. Enter postcode:</span></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div style="float: left;"><span style="font-size: 17px; font-weight: 600; padding-left:15px;"><i
                                class="fas fa-box"></i>&nbsp;Order today, delivers:<br></span></div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{/if}}
</section>
<section class="baginfo container col-lg-9">
    <hr>
    <div class="row" style="padding-top: 30px;">
        <div class="col col-12 col-md-2" style="text-align: center;"></div>
        {{#if info}}
        {{#each info}}
        <div class="col" style="text-align: center;">
            <div class="row">
                <div class="col">
                    <div class="col-md-6 productname col-6" style="max-height: 100%;float: left">
                        <h6 style="float: left;">Subtotal</h6>
                    </div>
                    <div class="col-md-6 productname col-6" style="max-height: 100%;float: left">
                        <h6 style="float: right;">S${{totalprice}}</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="col-md-6 productname col-6" style="max-height: 100%;float: left">
                        <h6 style="float: left;">Shipping</h6>
                    </div>
                    <div class="col-md-6 productname col-6" style="max-height: 100%;float: left">
                        <h6 style="float: right;">FREE</h6>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <div class="col-md-6 productname col-6" style="max-height: 100%;float: left">
                        <h4 style="float: left;">Your Total</h4>
                    </div>
                    <div class="col-md-6 productname col-6" style="max-height: 100%;float: left">
                        <h4 style="float: right;">S${{totalprice}}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="col-md-4 productname col-12" style="max-height: 100%;float: right;"><a
                            class="btn btn-primary border rounded" href="/processing" style="width: 100%;">Check
                            Out</a></div>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</section>