<div class="container">
    <h2>Filterable Table</h2>
    <p>Type something in the input field to search the table for first names, last names or emails:</p>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered">
        <tbody id="myTable">
            {{#if orders}}
            {{#each orders}}
            <tr>
                <td><a href="/{{ordernumber}}"><img class="img-fluid" href="/cart" src="{{productImageURL}}" style="max-width: auto; height: 35%;"></a></td>
                <td hidden='true'>{{productName}}</td>
                <td>Order Number: #{{ordernumber}}, QTY:{{quantity}}</td>
                <td>{{productTotal}}</td>
            </tr>
            {{/each}}
            {{/if}}
            {{!-- <tr>
                <td><img class="img-fluid" src="/img/iphone11-yellow-select-2019.jpg" style="max-width: auto; height: 35%;"></td>
                <td hidden='true'>iphone yellow</td>
                <td>Order Number: #KDUIC723PO, QTY:2</td>
                <td>Sat 15 Dec, 1pm</td>
            </tr>
            <tr>
                <td><img class="img-fluid" src="/img/appleairpods.jpg" style="max-width: auto; height: 35%;"></td>
                <td hidden='true'>earphone airpods</td>
                <td>Order Number: #MMVYWE83FG, QTY:5</td>
                <td>Fri 23 Mar, 9am</td>
            </tr> --}}
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

</body>

</html>