
<div class="container vertical-center ">
    <div class="login-container">
            <h1 class="title">Create New Merchant Account</h1>

            <form novalidate method="POST" action="">

                <div class="form-section"> <!-- form section -->
                    <h4>Merchant Information</h4>
                    <!-- First group of Form Elements - Personal Information -->
                    <div class="border border-secondary">
                        <div class="p-info"> <!-- Personal Information Elements -->
                            <div class="row"> <!-- Name -->
                                <div class="col">
                                    <div class="form-group">
                                        <label for="shop_name">Shop Name</label>
                                        <input type="text" class="form-control" id="shop_name" name="shop_name" value="{{shop_name}}">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label for="username"> Username</label>
                                        <input type="text" class="form-control" id="username" name="username" value="{{username}}">
                                    </div>
                                </div>
                            </div> <!-- End of Name -->

                            <div class="form-group"> <!-- Email -->
                                <label for="username">Email Address</label>
                                <input type="email" class="form-control" id="email" name="email" value="{{email}}">
                            </div> <!-- End of Email -->

                            <div class="row"> <!-- Password -->
                                <div class="col">
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" value="{{password}}">
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label for="c_password">Confirm Password</label>
                                        <input type="password" class="form-control" id="c_password" name="c_password" value="{{cpassword}}">
                                    </div>
                                </div>
                            </div> <!-- End of Password -->
                        </div> <!-- End of Personal Information Elements -->
                    </div> <!-- End of First group of Form Elements - Personal Information -->
                </div> <!-- End of form section -->

                

                <div class="container su-btn">
                    <input type="Submit" name="submit" value="Sign Up" class="btn btn-primary"/>
                </div>

            </form>
        </div>
        <hr>
        <div id="seller-redirect">
            <h3>Want to buy item instead?</h3>
            <h4>Click Below</h4>
            <a href="/user/signup" class="btn btn-outline-secondary">User Account</a>
        </div>
        
</div>

