
<section style="overflow: hidden;">
    <div class="container-2 vertical-center ">
        <div class="signup-container">
            <div class="heading">

                <span class="form-title">Merchant SignUp</span>
                <div class="sign-up-link-container">
                    Create <a id="sign-up-link" href="/user/signup">User account</a>?
                </div>
            </div>
            <form novalidate method="POST" action="">

                <div class="form-group">
                    <!-- Shop Name -->
                    <label for="shop_name"> Shop Name </label>
                    <input type="text" class="form-control" id="shop_name" name="shop_name" value="{{shop_name}}">
                </div><!-- End of Shop Name -->


                <div class="form-group">
                    <!-- username -->
                    <label for="contact_number"> Contact Number</label>
                    <input type="text" class="form-control" id="contact_number" name="contact_number"
                        value="{{contact_number}}">
                </div><!-- End of username -->

                <div class="form-group">
                    <!-- Email -->
                    <label for="username">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{email}}">
                </div> <!-- End of Email -->

                <div class="row">
                    <!-- Password -->
                    <div class="col">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                value="{{password}}">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="c_password">Confirm Password</label>
                            <input type="password" class="form-control" id="c_password" name="c_password"
                                value="{{cpassword}}">
                        </div>
                    </div>
                </div> <!-- End of Password -->

                <div class="container-2 form-elements">
                    <input type="Submit" name="submit" value="Sign Up" class="btn form-button" />
                    <hr>
                    <p class="sign-up"> Already have an account? Click below </p>
                    <!--<input type="button" name="submit" value="Sign Up" onclick="location.href='/';" class="btn btn-outline-secondary"/>-->
                    <a href="/user/login" class="btn btn-outline-secondary">Login here</a>
                </div>
            </form>
        </div>
    </div>
</section> 

<script>

    firebase.analytics().logEvent("sign_up" );
</script>