<div class="container">
    <div class="card border-0 shadow my-5">
        <div class="card-body p-5">

            <h1 class="display-4">Update Item</h1>

            <form method="POST" action="saveUpdate/{{product.productID}}?_method=PUT" id="formUpdateItem">
            <form method="POST" action="saveUpdate/{{product.id}}?_method=PUT" id="formUpdateItem">
                <input type='hidden' name='_method' value='PUT'>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="productID">Product Code</label>
                        <input type="text" class="form-control" id="productID" name="productID"
                            placeholder="Enter a product Code" value="{{product.productID}}" readonly required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="productName">Product Name</label>
                        <input type="text" class="form-control" id="productName" name="productName"
                            placeholder="Enter a product name" value="{{product.productName}}" required>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="productDescription">Product Description</label>
                        <textarea class="form-control" id="productDescription" name="productDescription" row="5"
                            required>{{product.productDescription}}</textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="productPrice">Product Price</label>
                        <input type="number" class="form-control" id="productPrice" name="productPrice"
                            placeholder="Enter a product price" step=".01" value="{{product.productPrice}}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="productStock">Product Stock</label>
                        <input type="number" class="form-control" id="productStock" name="productStock"
                            placeholder="Enter a product price" value="{{product.productStock}}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <p>Product Category</p>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="productCategory" id="Grocery"
                                value="Grocery" checked>
                            <label class="form-check-label" for="inlineRadio1">Grocery</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="productCategory" id="Electronic"
                                value="Electronic" {{radioCheck product.productCategory 'Electronic'}}>
                            <label class="form-check-label" for="inlineRadio2">Electronic</label>
                        </div>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group ">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Image Upload</span>
                            </div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="imageUpload" name="imageUpload">
                                <label class="custom-file-label" for="imageUpload">Choose file</label>
                            </div>
                        </div>

                        <img id="imageProduct" src="{{product.productImageURL}}" alt=""
                            class="border img-thumbnail img-fluid" style="height:450px;width:auto">

                        <input id="productImageURL" name="productImageURL" type="hidden"
                            value="{{product.productImageURL}}" required>
                        <div class="font-weight-bold text-danger-small" id="imageErr" style="display:none"></div>
                    </div>
                </div>
                <input id="butAddProduct" type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
</div>
<script src="/js/uploadImg.js"></script>